# Dependencies for Disfluency Detection Demo (as specified in README)
pandas==1.5.0
torch==1.12.1
torchaudio==0.12.1
torch
torchaudio
transformers==4.22.2
whisper_timestamped==1.14.4
gdown==5.1.0

# Dependencies for Switchboard Preprocessing
Levenshtein
numpy
joblib